/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'css/colour'
 *= require 'css/style'
 *= require 'css/portfolio_two'
 */
#site_header{
  width: 950px;
  /*overflow: hidden;
  margin: 100px auto 0 auto;*/
  height: 130px;
  margin: 0 auto;
  padding: 0;
}

.logo{
  padding-top: 40px;
  float: left;
}

.menu{
  padding-top: 100px;
  float: right;
  height: 24px;
  margin-bottom: 10px;
}

a.menu__link{
  padding: 2px 5px 5px;
  background-color: #00b2ee;
  color: white;
  margin-left: 20px;
  height: 20px;
  line-height: 20px;
  &:hover{
    background-color: #3a3838;
    color: white;
  }
}

.page_title{
  color: black;
}
